body {
  font-family: "Indie Flower", cursive;
  background-color: #4d3e3e;
  color: #ff926b;
}
.container {
  text-align: center;
  width: 70%;
  margin: auto;
}
h1 {
  font-size: 8rem;
  margin: 30px 30px 0 30px;
}
.new {
  font-size: 5rem;
}
.dice {
  text-align: center;
  display: inline-block;
}
p {
  font-size: 2rem;
}
.dice {
  text-align: center;
  display: inline-block;
}
img {
  width: 80%;
}
p.footer {
  color: #fff3cd;
  font-size: 1rem;
  margin-top: 5%;
  text-align: center;
}
